@import "../../assets/variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

.isNone {
  visibility: hidden;
  display: none;
}

.topicCard {
  width: 20rem;
  height: 20rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: $customBeige;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  color: $customGray;

  .topicCard__picture {
    width: 14rem;
    margin: auto;
  }

  .topicCard__name {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  .textCard {
    text-align: center;
  }

  .topicCard__btnOpen {
    display: block;
    width: 10rem;
    height: 2.5rem;
    margin-top: 5rem;
    background-color: $customOrange;
    border: 1px solid $customOrange;
    border-radius: 5%;
    margin: 4rem auto 2rem auto;
    color: $customGray;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.nameChoseTopic {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 2rem;
}

.numberCard {
  text-align: center;
  font-family: "Source Code Pro", monospace;

  font-size: 1rem;
}

.btnStep {
  height: 3rem;
  width: 3rem;
  border: 1px solid $customOrange;
  border-radius: 50%;
  align-self: center;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    background-color: green;
  }
}

.btnStepDisabled {
  height: 3rem;
  width: 3rem;
  border: 1px solid $customOrange;
  border-radius: 50%;
  align-self: center;
}

.prevCard {
  left: calc(0% + 2rem);
  opacity: 0;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem)); //4rem
  opacity: 0;
}

.card-container {
  width: 24rem; //73rem
  margin: auto;
  display: flex;
}
.count {
  margin: auto;
  width: 1rem;
  margin-bottom: 2rem;
}

.topicCard-wrapper {
  width: 79rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  .link {
    text-decoration: none;
    color: $customGray;
  }
}
