/* @value colors: "./variables.css";
@value customGree, customYellow from colors; */

@import "../../assets/variables";

.wrapper-header {
  height: 100px;
  width: 100%;
  background-color: $customBlue;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100px;
    margin: auto;

    .img {
      max-width: 100%;
      max-height: 100%;
    }

    .wrapper-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 20%;

      .btn {
        color: $customGray;
        border: none;
        background-color: $customBlue;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          color: $customOrange;
        }
      }
      // .btnLogIn {
      //   font-size: 1rem;
      // }

      // .btnSignUp {
      //   // background-color: $customYellow;
      //   // color: white;
      //   font-size: 1rem;
      // }
    }
  }
}

.search {
  background-color: $customBlue;
  font-size: 1.5rem;
}
